.SidebarElem {
  background-color: rgb(6, 6, 6);
  color: #e0e0e0;
}

.partsColor {
  cursor: pointer;
}

.partsColor:hover {
  background-color: #7d809b;
}
.inputSidebar {
  background-color: #222222 !important;
  border: 0 !important;
}

.inputSidebar:focus {
  border-color: #7d809b !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #7d809b83 !important;
}
.highlighted {
  background-color: lightblue; /* Highlight color */
  color: #222222;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}
